
body {
	background: url('img/advance-yabai.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: 'IBM Plex Sans', 'IBM Plex Sans Thai', sans-serif !important;
	color: #fefefe !important;
}

img {
	pointer-events: none;
}

.grecaptcha-badge {
	visibility: hidden;
}

.vote-btn {
    font-size: 20pt !important;
    background-color: #ff769d !important;
    border-color: #ff769d !important;
}

.modal {
	color: initial;
}